header{
    #article-commodity-ul{
        display: none;
    }
    #banner{
        height: 350px;
        li{
            height: 350px;
            a{
                img{
                    height: 350px;
                }
            }
        }
        #baby_ban_left{
            margin: -30px 0 0 -645px;
        }
    }
} 
#baby-particulars{
    width: 100%;
    background: #d3d3d3;
    .newProduct{
        width: 1200px;
        height: ;
        position: relative;
        h2{
            text-align: center;
        }
        span{
            
        }
        span:nth-of-type(1){
            
        }
    }
}
